$primary-color: #2d88ff;
$secondary-color: #1ea6ec;
$success-color: #22af47;
$info-color: #007bff;
$warning-color: #daa520;
$danger-color: #ff5370;
$light-color: #f6f7fb;
$semi-dark: #aaaaaa;
$light-semi-gray: #eff0f1;
$light-gray: #f3f3f3;
$dark-gray: #898989;
$dark-color: #2a3142;
$gray-60: #999999;
$transparent-color: transparent;
$auth-bg-color: #fafafa;
$light: #f6f6f6;
$light-text: #999;

$black: #000;
$white: #fff;
